<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Bank Test">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter"/>
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
		<listener class-name="listeners.CustomListeners"/>
	</listeners>
  <test name="ManagerLogin">
    <classes>
      <class name="testcases.ManagerLogin"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="AddCustomerTest">
    <classes>
      <class name="testcases.AddCustomerTest"/>
    </classes>
  </test> <!-- Test -->
  
 <test name="OpenAccountTest">
    <classes>
      <class name="testcases.OpenAccountTest"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
